body {
  font-family: Arial, sans-serif;
}

.game {
  /* display: flex; */
  /* flex-direction: row; */
  background-color: slategray;
}

.game-info {
  margin-left: 20px;
  padding-bottom: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  /* background-color: lightgoldenrodyellow; */
  color: khaki;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square.highlight {
  background-color: yellow;
}

.one {
  margin: 2px;
}

.one:hover {
  background-color: grey;
}
